<div class="container mx-auto mb-8">
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center flex flex-col space-y-10">
    <div class="max-w-md space-y-2">
      <h1 class="text-5xl font-bold">STAY with MU</h1>
      <%= image_tag "logo_col.png"%>
      <p class="py-6">自分の好きな曲に対する思いを記録することで曲を「育てていく」サービスです。<br>
好きな曲に対する思いを追加していくことで、<br>
曲のレベルが上がり、音楽愛を数値化することができます。「この曲への愛は誰にも負けない！」という動機を提供することで、音楽愛を記録することを促進します。</p>
    </div>

    <div class="max-w-500">
      <h1 class="text-4xl font-bold">使い方</h1>
      <div class="py-6 space-y-2">
        <p class="text-2xl font-bold">①MUをつくろう！</p>
        <P>この世界ではあなたの大好きな曲たちを「MU」と呼びます。</p>
        <p>曲情報を検索して育てたい曲を登録しましょう。（MUは何個でも作ることができます）</p>
      </div>

      <div class="py-6 space-y-2">
        <p class="text-2xl font-bold">②MUにメモリーを追加してMUを育てよう！</p>
        <P>作成したMUに「曲との思い出」、「曲の好きな部分」などについての文章（メモリー）をタグをつけて追加していきましょう！
        </p>
        <p>追加したメモリーの文字数に応じて、MUのレベルが上がります！</p>
        <p>あなたの音楽愛を書けば書くほど曲が育つ！というわけですね！</p>
        <p>この曲への愛は誰にも負けない！というところを見せてやりましょう！</p>
        <p></p>
      </div>
      <% if logged_in? %>
        <%= link_to "MUをつくる！", new_music_path, class: "btn btn-primary m-2"%>
        <%= link_to "みんなのMU", musics_path, class: "btn btn-secondary m-2"%>
      <% else%>
        <%= link_to "ログインして始める", login_path, class: "btn btn-primary m-2"%>
        <%= link_to "ログインせずにみんなのMUを見てみる", "musics_path", class: "btn btn-secondary m-2"%>
      <% end %>
    </div>
  </div>
</div>
</div>