<div id="comment-<%= comment.id %>">
  <div class="bg-base-100 my-2">
    <div class="bg-base-300 border-bg-100 p-3 rounded-lg">
      <%= link_to user_path(comment.user) do %>
        <div class="flex">
          <p class="mr-3 rounded-full">
            <% if comment.user.avatar? %>
              <div class="avatar">
                <div class="rounded-full">
                  <%= image_tag comment.user.avatar.url(:avatar) %>
                </div>
              </div>
            <% else %>
              <%= image_tag "default_avatar.png", size: "40x40" %>
            <% end %>
          </p>
          <p class="p-2 link">  <%= comment.user.name %> </p>
        </div>
      <% end %>
      <%=  raw Rinku.auto_link(simple_format(comment.body), :urls, 'target="_blank" rel="noopener noreferrer"') %>
      <div class="object-right-top">
        <% if logged_in? && current_user.own?(comment) %>
          <%= link_to "削除", comment_path(comment), data: { turbo_method: :delete, turbo_confirm: "本当にこのコメントを削除しますか？" }, class: "btn btn-sm btn-error float-right" %>
          <%= link_to "編集", edit_comment_path(comment), class: "btn btn-sm btn-secondary mx-2 float-right" %>
        <% end %>
      </div>
      <p class="text-right"><%= l comment.created_at, format: :long %></p>
    </div>
  </div>
</div>