<% set_meta_tags title: t('.title') %>
<div class="flex flex-col justify-center items-center">
  <%= form_with model: @user, local: true do |f| %>
      <h1 class="mb-10 text-2xl">マイページ編集</h1>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name, class:'ml-2'%>
      <%= f.text_field :name, class: "w-full input input-bordered bg-base-300 w-[24rem] mb-2" %>
      <%= f.label :profile, class:'ml-2 '%>
      <%= f.text_area :profile, class: "w-full h-80 bg-base-300 textarea textarea-bordered rounded-lg mb-5" %>
    <div class="flex flex-col mb-2">
      <%= f.label :avatar, class:'ml-2'%>
      <%= f.file_field :avatar, class: "file-input file-input-bordered w-full max-w-xs"%>
      <p>※写真の中心で円状に切り抜かれます。</p>
      <p>不具合のため、拡張子.HEICの写真のアップロードを制限しております。</p>
      <p>申し訳ございません🙇‍♂️</p>
    </div>
    <div class="flex justify-center">
      <%= f.submit "更新", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>