<% content_for(:title, @user.name) %>
<div class="container mx-auto">
  <div class="bg-base-300 py-5 px-3 rounded-lg">
    <div class="flex">
      <p class="mr-3 rounded-full">
        <% if @user.avatar? %>
          <div class="avatar">
            <div class="rounded-full">
              <%= image_tag @user.avatar.url(:avatar_large) %>
            </div>
          </div>
        <% else %>
          <%= image_tag "default_avatar.png", size: "80x80" %>
        <% end %>
      </p>
      <p class="p-3 text-4xl">
        <%= @user.name%>
      </p>
    </div>
    <div class="p-3">
      <%= "つくったMUの数: #{@user.musics.count}" %>
    </div>
    <div>
      <p class="text-secondary">◆自己紹介◆</p>
      <%= @user.profile %>
      <% if logged_in? && current_user == @user %>
        <%= link_to "編集", edit_user_path(@user), class: "btn btn-sm btn-secondary float-right"%>
      <% end %>
    </div>

  </div>
</div>

<div class="container mx-auto mt-10">
  <div class="bg-base-300">
    <div role="tablist" class="tabs tabs-lifted">
    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="つくったMU" checked/>
<!-- つくったMU-->
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
      <div class="flex flex-wrap justify-center">
        <%= render @musics %>
      </div>

        <div class="flex justify-center">
          <%= paginate @musics %>
        </div>
      </div>



      <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="いいねしたMU" />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        <div class="flex flex-wrap justify-center">
          <%= render @favorite_musics %>
        </div>

        <div class="flex justify-center">
          <%= paginate @favorite_musics %>
        </div>
      </div>
    </div>
  </div>
</div>