<header class="py-4 flex items-center justify-between">
  <div>
    <%= link_to root_path do %>
      <%= image_tag "Logo.png", size: "100x100"%>
    <% end %>
  </div>

  <nav class="mr-2 flex items-center">
    <div class="dropdown">
      <div tabindex="0" role="button" class="sm:btn-md btn btn-sm btn-outline btn-primary mr-2">みんなのMU ▼</div>
      <ul tabindex="0" class="dropdown-content menu bg-neutral rounded-box z-[1] w-52 p-2 shadow">
        <li class="link link-primary m-1"><%= link_to "みんなのMU", musics_path %></li>
        <li class="link link-success m-1"><%= link_to "みんなのプレイリスト", playlists_path %></li>
      </ul>
    </div>
    <%= link_to "ログイン", login_path, class: "btn btn-sm btn-secondary btn-outline mr-2 sm:btn-md" %>

    <div class="sm:hidden dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </div>
      <ul tabindex="0" class="dropdown-content z-[1] bg-neutral p-2 shadow bg-base-100 rounded-box w-52">
        <%= link_to "利用規約", terms_path, class: "btn btn-link btn-sm" %>
        <%= link_to "プライバシーポリシー", privacy_policy_path, class: "btn btn-link btn-sm" %>
        <%= link_to "お問い合わせ", "https://forms.gle/ngwcLGRTNanH5ahc7", target: "_blank", class: "btn btn-link btn-sm" %>
        <p>© 2024 - STAY with MU</p>
      </ul>
    </div>
  </nav>
</header>