<header class="py-4 flex items-center justify-between">
  <div>
    <%= link_to root_path do %>
      <%= image_tag "Logo.png", size: "100x100"%>
    <% end %>
  </div>
  <nav class="mr-2 flex">
    <div class="hidden sm:flex">
      <%= link_to "みんなのMU", musics_path, data: { action: "click->modal#checkClick"}, class: "btn btn-primary btn-outline mr-2" %>
      <%= link_to "MUをつくる", new_music_path, class: "btn btn-secondary btn-outline mr-2" %>
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-outline btn-success mr-2">プレイリスト ▼</div>
        <ul tabindex="0" class="dropdown-content menu bg-neutral rounded-box z-[1] w-52 p-2 shadow">
          <li class="link m-1"><%= link_to "みんなのプレイリスト", playlists_path %></li>
          <li class="link m-1"><%= link_to "プレイリストをつくる", new_playlist_path %></li>
        </ul>
      </div>
      <%= link_to user_path(current_user), class: "flex flex-col btn btn-outline" do %>
        <% if current_user.avatar? %>
          <div class="avatar">
            <div class="rounded-full">
              <%= image_tag current_user.avatar.url(:avatar) %>
            </div>
          </div>
          <% else %>
            <%= image_tag "default_avatar.png", size: "40x40" %>
          <% end %>
        <p class="text-xs">マイページ</p>
      <% end %>
    </div>

    <button class="sm:hidden btn btn-ghost" onclick="my_modal_3.showModal()">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-lightbulb" viewBox="0 0 16 16">
        <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z"/>
      </svg>
    </button>

    <%= render "shared/howto_install" %>

    <div class="dropdown dropdown-end">
      <div tabindex="0" class="btn btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
        </svg>
          <%= render 'notifications/notification_count' %>
      </div>
      <ul tabindex="0" class="dropdown-content z-[1] p-2 bg-neutral rounded-box w-[18rem] sm:w-[28rem]">
        <%= render 'shared/notifications_dropdown' %>
      </ul>
    </div>

    <div class="sm:hidden dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </div>
      <ul tabindex="0" class="dropdown-content z-[1] bg-neutral p-2 shadow bg-base-100 rounded-box w-52">
        <%= link_to "利用規約", terms_path, class: "btn btn-link btn-sm" %>
        <%= link_to "プライバシーポリシー", privacy_policy_path, class: "btn btn-link btn-sm" %>
        <%= link_to "お問い合わせ", "https://forms.gle/ngwcLGRTNanH5ahc7", target: "_blank", class: "btn btn-link btn-sm" %>
        <p>© 2024 - STAY with MU</p>
      </ul>
    </div>
  </nav>
</header>