<header class=" container mx-auto bg-base-900 py-4 flex items-center justify-between">
    <div class="ml-4">
        <%= link_to root_path do %>
            <%= image_tag "logo_col.png", size: "150x150"%>
        <% end %>
    </div>
    <nav class="mr-4">
        <%= link_to "一覧", musics_path, class: "btn btn-primary mr-2"%>
        <%= link_to "作成", new_music_path, class: "btn btn-primary mr-2"%>
        <%= link_to current_user.name, user_path(current_user), class:"btn btn-secondary" %>
        <%= link_to "LO", logout_path, data: { turbo_method: :delete }%>
    </nav>
</header>