<div id="memory-form">
  <%= form_with model: memory, url: [music, memory], data: { turbo_method: :post } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <p>今日のお題</p>
      <label class="btn btn-outline btn-warning btn-sm my-2">
        <%= f.check_box :recommended_topic_id, {}, RecommendedTopic.current.id %>
        <%= RecommendedTopic.current.topic %>
      </label>
    <p>タグは3つまで選べます。</p>
    <% Tag.all.each do |tag| %>
      <label class="btn btn-sm btn-outline btn-primary">
        <%= f.check_box :tag_ids, { multiple: true }, tag.id, nil %>
        <%= tag.name %>
      </label>
    <% end %>
    <%= f.text_area :body, class: "auto-resize-textarea w-full h-24 my-2 bg-base-300 textarea textarea-bordered p-1 rounded-lg" %>
    <div class="mb-3">
      <%= f.radio_button :privacy, :public, class: "radio radio-primary" %>
      <%= f.label :privacy_public, '公開' %>
      <%= f.radio_button :privacy, :private, class: "radio radio-primary ml-5" %>
      <%= f.label :privacy_private, '非公開' %>
    </div>
    <%= f.submit "追加する", class: "btn btn-primary" %>
  <% end %>
</div>