<% content_for(:title, t('.title')) %>
<div class="h-screen">
  <h1 class="text-center py-4 text-2xl">メモリー編集</h1>
  <%= form_with model: @memory, local: true do |f| %>
    <%#= render 'shared/error_messages', object: f.object %><!-- エラーが出るためコメントアウト　-->
    <% Tag.all.each do |tag| %>
      <div class="btn btn-sm btn-outline btn-primary">
        <%= f.check_box :tag_ids, { multiple: true }, tag.id, nil %>
        <%= tag.name %>
      </div>
    <% end %>
    <%= f.text_area :body, class: "w-full h-auto my-2 text-base p-1 rounded-lg"%>
    <div class="mb-3">
      <%= f.radio_button :privacy, :public, class: "radio radio-primary" %>
      <%= f.label :privacy_public, '公開' %>
      <%= f.radio_button :privacy, :private, class: "radio radio-primary ml-5" %>
      <%= f.label :privacy_private, '非公開' %>
    </div>
    <%= f.submit "編集完了", class: "btn btn-primary" %>
<% end %>
</div>