<% set_meta_tags title: t('.title') %>
<div class="h-screen">
  <h1 class="text-center py-4 text-2xl">メモリー編集</h1>
  <%= form_with model: @memory, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <p class="mb-3">
      <%= f.collection_select :recommended_topic_id, RecommendedTopic.all, :id, :topic, { include_blank: '' }, { class: "select select-warning select-sm w-full max-w-xs" } %>
    </p>
    <% Tag.all.each do |tag| %>
      <label class="btn btn-sm btn-outline btn-primary">
        <%= f.check_box :tag_ids, { multiple: true }, tag.id, nil %>
        <%= tag.name %>
      </label>
    <% end %>
    <%= f.text_area :body, class: "w-full h-24 my-2 bg-base-300 textarea textarea-bordered p-1 rounded-lg"%>
    <div class="mb-3">
      <%= f.radio_button :privacy, :public, class: "radio radio-primary" %>
      <%= f.label :privacy_public, '公開' %>
      <%= f.radio_button :privacy, :private, class: "radio radio-primary ml-5" %>
      <%= f.label :privacy_private, '非公開' %>
    </div>
    <%= f.submit "編集完了", class: "btn btn-primary" %>
  <% end %>
</div>