<% set_meta_tags title: t('.title') %>
<h1 class="text-center py-4 text-2xl">プレイリスト編集</h1>
<div class="flex flex-col sm:flex-row w-full">
  <div class="flex w-full lg:w-1/2 xl:w-1/2 flex-col mx-auto mb-4">
    <%= render 'playlists/search_form' %>
    <% if @musics.present? %>
      <%= render 'playlists/search_result', musics: @musics %>
    <% end %>
  </div>

  <div class="flex flex-col w-full lg:w-1/2 xl:w-1/2">
    <%= render 'playlists/preview', playlist: @playlist %>

    <%= form_with model: @playlist, class: "flex flex-col items-center" do |f| %>
      <div class="w-full text-center p-2">
        <%= f.label :title, class: "text-lg font-bold" %>
        <div class="flex justify-center items-center">
          <%= f.text_field :title, required: true, placeholder: "タイトルは50文字まで", class: "input input-bordered input-sm sm:input-md bg-base-300 w-[16rem] sm:w-[32rem]", style: "width: 480px;" %>
        </div>
      </div>

      <div class="w-full text-center p-2 mt-4">
        <%= f.label :body, class: "text-lg font-bold" %>
        <%= f.text_area :body, required: true, class: "auto-resize-textarea w-full h-24 my-2 bg-base-300 textarea textarea-bordered p-1 rounded-lg" %>
      </div>

      <div class="w-full p-2 mt-4 flex justify-center items-center">
        <%= f.submit "プレイリストを更新", class: "btn btn-primary py-2 px-4" %>
      </div>
    <% end %>
  </div>
</div>
