<div class="<%= action_name == 'musics/show' ? 'w-full' : 'w-[20rem]' %> p-3">
  <div class="bg-base-100">
    <iframe src="https://open.spotify.com/embed/track/<%= music.spotify_track_id %>" width="100%" height="80" frameborder="0" style="border-radius:12px" allowtransparency="true" allow="encrypted-media" loading="lazy"></iframe>
    <div class="p-2 bg-base-300 rounded-lg">
      <%= link_to music_path(music), data: { turbo: false } , class: "#{levelclass(music.level)} underline hover:text-blue-600 mb-2" do %>
        <p><%=  music.title %></p>
        <div class="flex justify-between">
          <span><%= music.artist %></span>
          <span class="mb-2"><%= "Lv. #{music.level}" %></span>
        </div>
      <% end %>

      <% if logged_in? && current_user.own?(music) && music.privacy_private? %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
          <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
        </svg>
      <% end %>

      <div class="flex justify-end">
      <%= render 'musics/favorite_button', music: music %>
      </div>
        <%= link_to user_path(music.user), data: { turbo: false } do %>
        <div class="flex">
          <% if music.user.avatar? %>
            <div class="avatar">
              <div class="rounded-full">
                <%= image_tag music.user.avatar.url(:avatar) %>
              </div>
            </div>
            <% else %>
              <%= image_tag "default_avatar.png", size: "40x40" %>
          <% end %>
          <p class="p-2 link">  <%= music.user.name %> </p>
        </div>
        <% end %>

      <div class="justify-end">
        <%= link_to music_path(music), data: { turbo: false } do %>
          <%= display_latest_memory(music) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
