<div data-controller="confirm" class="mt-4">
  <h2 class="text-center mb-2">検索結果</h2>
  <%= turbo_frame_tag "search_results" do %>
    <div class="flex flex-wrap justify-center">
      <% musics.each do |music| %>
        <div class="p-1 my-2 border-radius">
          <iframe src="https://open.spotify.com/embed/track/<%= music.spotify_track_id %>" width="100%" height="80" frameborder="0" style="border-radius:12px" allowtransparency="true" allow="encrypted-media" loading="lazy"></iframe>
          <%= form_with url: musics_path, model: music, data: { action: "submit->confirm#confirm", turbo: false, turbo_method: :post } do |form| %>
            <%= form.hidden_field :spotify_track_id, value: music.spotify_track_id %>
            <%= form.hidden_field :artist, value: music.artist %>
            <%= form.hidden_field :title, value: music.title %>
            <%= form.submit 'MUをつくる！', class: "btn btn-sm btn-outline btn-primary mt-2" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>