<% content_for(:title, t('.title')) %>
<div class=" flex justify-end">
<label class="swap mr-3">
  <input type="checkbox" />
  <div class="swap-on">
      <div class="chat chat-end">
        <div class="chat-bubble">
          <%= "今日のお題は「#{@todays_topic}」だニャ！みんなのメモリー聞かせてほしいニャ！" %>
        </div>
      </div>
  </div>
  <div class="swap-off">
      <div class="chat chat-end flex justify-end">
        <div class="chat-bubble">何を書くか迷ったら聞いてくれニャ！</div>
      </div>
  </div>
</label>
    <%= image_tag "dj_mya2.png", class: "mt-8 size-20 sm:size-28" %>
</div>


<h1 class="text-center py-4 text-2xl">みんなのMU</h1>
<div class="flex justify-center mb-6">
  <div class="mr-1">
    <%= search_form_for @q, html: { data: { turbo_frame: "musics-list" } } do |f| %>
      <%= f.search_field :title_or_artist_cont, class: "input input-bordered input-sm sm:input-md bg-base-300 w-[12rem] sm:w-[24rem] max-w-xs", placeholder: "曲名orアーティスト" %>
      <%= f.submit "検索", class: "btn btn-sm btn-primary my-2 ml-2" %>
    <% end %>
  </div>
  <div>
    <%= search_form_for @q, html: { data: { turbo_frame: "musics-list" } } do |f| %>
      <%= f.select(:sorts, {'レベル上位': 'level desc', 'いいね数上位': 'favorites_count desc', 'コメント数上位': 'comments_count desc', 'メモリー数上位': 'memories_count desc', '更新順': 'updated_at desc'}, { include_blank: '選択してください' }, class: "select select-bordered select-sm sm:select-md bg-base-300 text-xs w-[10rem] sm:w-[12rem] max-w-xs ml-2") %>
      <%= f.submit "並び替え", class: "btn btn-sm btn-primary my-2 ml-2" %>
    <% end %>
  </div>
</div>
<%= turbo_frame_tag "musics-list", autoscroll: true, data: { autoscroll_block: "start" }  do %>
  <div class="flex flex-wrap justify-center mb-4">
    <%= render @musics %>
  </div>

  <div class="flex justify-center mb-8">
    <%= paginate @musics %>
  </div>
<% end %>