<div class="container mx-auto">
  <div class="bg-base-300 py-5 px-3">
    <p class="text-2xl font-bold"><%= @music.user.name%></p>
    <p class="text-2xl"><%=  @music.title %><%= %></p>
    <p class="text-lg"><%=  @music.artist %></p>
    <% if current_user.own?(@music) %>
      <%= link_to "削除", music_path(@music), data: { turbo_method: :delete, turbo_confirm: "本当にこのMUを削除しますか？追加したメモリーも削除されます。"}, class: "btn btn-sm btn-error float-right"%>
    <% end %>
    <div class="px-3">
      <iframe src="https://open.spotify.com/embed/track/<%= @music.spotify_track_id %>" width="100%" height="80" frameborder="0" style="border-radius:12px" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="p-2">
      <p class="text-right"><%= l @music.created_at, format: :long %></p>
    </div>
  </div>
</div>

<div class="container mx-auto mt-10">
  <div class="bg-base-300">
    <div role="tablist" class="tabs tabs-lifted">
<!-- メモリー　-->
      <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="メモリー" checked/>
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box h-auto p-6">
        <% if current_user.own?(@music) %>
          <details class="dropdown">
            <summary class="btn btn-outline">メモリーを追加する</summary>
            <div class="p-2 w-auto" >
              <%= render 'memories/form', { music: @music, memory: @memory } %>
            </div>
          </details>
        <% end %>
        <%= render @memories %>
      </div>


<!-- コメント -->
      <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="コメント" />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">コメント</div>
    </div>
  </div>
</div>