<% set_meta_tags title: @music.title %>
<div class="container mx-auto">
  <div class="bg-base-300 py-5 px-3 rounded-lg">
    <div class="flex">
      <% if @music.user.avatar? %>
        <div class="avatar">
          <div class="rounded-full">
            <%= image_tag @music.user.avatar.url(:avatar_midium) %>
          </div>
        </div>
      <% else %>
        <%= image_tag "default_avatar.png", size: "60x60" %>
      <% end %>
      <p class="text-2xl font-bold p-3 link"><%= link_to @music.user.name, user_path(@music.user) %></p>
    </div>
    <div class=<%= levelclass(@music.level) %>>
      <p class="text-2xl"><%=  @music.title %></p>
      <p class="text-lg"><%=  @music.artist %></p>
      <%= render "music_level", music: @music %>
    </div>
    <div class="flex justify-end m-2">
      <%= render 'musics/favorite_button', music: @music %>
    </div>

    <% if logged_in? && current_user.own?(@music) %>
      <%= link_to "削除", music_path(@music), data: { turbo_method: :delete, turbo_confirm: "本当にこのMUを削除しますか？追加したメモリーも削除されます。"}, class: "mb-2 btn btn-sm btn-error float-right"%>
    <% end %>
    <div class="px-3">
      <iframe src="https://open.spotify.com/embed/track/<%= @music.spotify_track_id %>" width="100%" height="80" frameborder="0" style="border-radius:12px" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="p-2">
      <p class="text-right">作成日時: <%= l @music.created_at, format: :long %></p>
    </div>
    <% if logged_in? && current_user.own?(@music) %>
      <% if @music.privacy_private? %>
        <%= render "private_introduction" %>
      <% else %>
        <%= render "X_share", music: @music %>
      <% end %>
      <div id="privacy_toggle">
        <%= render "privacy_toggle", music: @music %>
      </div>
    <% end %>
  </div>
</div>

<div class="container mx-auto mt-10">
  <div class="bg-base-300">
    <div role="tablist" class="tabs tabs-bordered ">
<!-- メモリー　-->
      <input type="radio" name="my_tabs_2" role="tab" class="tab whitespace-nowrap btn mr-1" aria-label="メモリー" checked/>
      <div role="tabpanel" class="tab-content bg-base-100 h-auto p-6">
        <% if logged_in? && current_user.own?(@music) %>
          <details class="dropdown">
            <summary class="btn btn-outline">メモリーを追加する</summary>
            <div class="p-2 w-auto" >
              <%= render 'memories/form', { music: @music, memory: @memory } %>
            </div>
          </details>
        <% end %>
        <div id="memories-list" class="min-w-[20rem]">
          <%= render @memories %>
        </div>
      </div>

<!-- コメント -->
      <input type="radio" name="my_tabs_2" role="tab" class="tab whitespace-nowrap btn" aria-label="コメント" />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 p-6">
        <% if logged_in? %>
          <details class="dropdown">
            <summary class="btn btn-outline btn-success">コメントを追加する</summary>
            <div class="p-2" >
              <%= render 'comments/form', { music: @music, comment: @comment } %>
            </div>
          </details>
        <% else %>
          <div class="btn btn-sm btn-warning">コメントにはログインが必要です！</div>
        <% end %>
        <div id="comments-list" class="min-w-[20rem]">
          <%= render @comments %>
        </div>
      </div>
    </div>
  </div>
</div>