<% content_for(:title, t('.title')) %>
<div class="flex justify-center items-center h-screen">
  <%= form_with model: @user, local: true do |form| %>
    <h1 class="mb-10">ログイン</h1>
    <div class= "mb-3">
      <div class= 'flex flex-row'>
        <%= form.label :email, class:'ml-2'%>
      </div>
        <%= form.email_field :email, class: 'w-full bg-card-body text-theme rounded-lg py-2 px-3'  %>
    </div>
    <div class= "mb-6">
      <div class= 'flex flex-row'>
        <%= form.label :password, class:'ml-2'%>
      </div>
        <%= form.password_field :password, class: 'w-full bg-card-body text-theme rounded-lg py-2 px-3'  %>
    </div>
    <div class="flex justify-center flex-col">
      <%= form.submit 'ログイン', class: "btn btn-secondary mb-4" %>
      <%= link_to 'パスワードをお忘れの方はこちら', new_password_reset_path, class: "link link-primary mb-4" %>
      <%= link_to "ユーザー登録", new_user_path, class: "btn btn-accent" %>
    </div>
  <% end %>
</div>