<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(content_for?(:title) ? yield(:title) : '') %></title>
    <%= favicon_link_tag asset_path('MUfavicon.svg') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y5CZZF27VS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-Y5CZZF27VS');
    </script>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
  </head>

  <body >
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <div id="flash_messages">
      <%= render 'shared/flash_messages'%>
    </div>
    <div class="container mx-auto px-4 py-5">
      <%= yield %>
    </div>
    <%= render 'shared/footer'%>
  </body>
</html>
